@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Caveat:wght@500;700&family=Frijole&family=Luckiest+Guy&family=Oswald:wght@300;500&family=Permanent+Marker&family=Staatliches&display=swap');

:root {
  --type-bangers: 'Bangers';
  --type-caveat: 'Caveat';
  --type-frijole: 'Frijole';
  --type-luckiest-guy: 'Luckiest Guy';
  --type-oswald: 'Oswald';
  --type-permanent-marker: 'Permanent Marker';
  --type-staatliches: 'Staatliches';
}

body,
html {
  height: 100%;
}

/* styles.css */
body,
h1,
h2,
p,
div,
button,
input {
  margin: 0;
  padding: 0;
}

body {
  font-weight: 100;
  font-family: var(--type-staatliches);
  color: rgb(255, 249, 232);
}

.bg {
  /* can't get this working for a vignette style opacity */
  background-color: radial-gradient();

  /* these two control the opaque BG */
  background-color: rgb(171, 171, 171);
  background-blend-mode: multiply;

  /* everything else for fiery fullscreen backdrop */
  height: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  /* two options, the vortex win */
  /* background-image: url('./images/background/2303.w030.n003.624A.p1.624.jpg'); */
  background-image: url('./images/background/2303.w030.n003.626A.p1.626.jpg');
}

h1 {
  font-weight: 100;
  font-family: var(--type-bangers);
  font-kerning: auto;
  font-size: 7em;
}

header {
  text-align: center;
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.battle {
  display: flex;
  flex-direction: column;
}

.combatants {
  display: flex;
  flex-direction: row;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}

.card {
  /* min-height: 14em; */
  background-color: #333;
  color: white;
  padding: 2em;
  margin: 1em 1em;
  border-radius: 0.5em;
  box-shadow: 0px 5px 40px rgb(76, 68, 187);
  text-align: center;
  /* width: 250px; */
}

.winner {
  display: flex;
  flex-direction: column;
}

.bet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

div.card > img {
  width: 160px;
  height: 240px;
  margin: 0.5em;
}

input {
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 0.5em;
}

button {
  font-size: 0.6em;
  padding: 1em 2em;
  margin: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.timer,
.winner {
  margin-bottom: 10px;
  font-size: 3em;
}

footer {
  text-align: center;
}
